*
{
    box-sizing:border-box;
    margin: 0;
    padding: 0;   
}

.navbar
{
    top: 0%;
    position: fixed;
       display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
}



.navbar .logo
{
    padding: 2% 30% 2% 5%;

}
 .navbar  ul 
{
    list-style-type:none;
    width: 100%;
   display: flex;   
    justify-content: center;
    align-items: center;
    gap: 30%;

}
.navbar .links
{
    padding-right: 18%;
    /* padding-top: 2%;      */
}


 .navbar  ul li a{
     display: flex;
     width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #4D4D4D;
}
.navbar  ul li a:hover{
    color: #4CAF4F;
}

 .navbar  ul li a button{
    background-color: #4CAF4F;
    /* padding: 10px; */
    color: #ffffff;
    border: none;
    width:12vh;
    border-radius: 7%;
    height: 4vh;
    transition: 0.2s;
}
 .navbar  ul li a button:hover{
    transform: scale(1.2);
 }


 @media (orientation: portrait) and (max-width:375)

 {
    
    .navbar
{
    top: 20px;
    position: static;
       display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #792323;
}

.navbar .logo
{
    padding: 0px;

}
 }

